# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# --------------------
# Pytest
# --------------------
.pytest_cache/

# --------------------
# Coverage
# --------------------
.coverage
htmlcov/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# JetBrains
# --------------------
.idea/

# --------------------
# Node
# --------------------
node_modules/
dist/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Build files
# --------------------
build/

docs/